<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="{% static 'todos/styles.css' %}"> -->
    <!-- <link rel="stylesheet" href="static/stylesheet.css"> -->

    <style>
        .astext {
        background:none;
        border:none;
        margin:0;
        padding:0;
        cursor: pointer;
    }
    </style>
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-lg-3 col-xl-3 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <!-- <a href="/list_note" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-blue text-decoration-none">
                        <span class="mt-2 fs-5 d-none d-sm-inline">LetsNote Home</span>
                    </a> -->
                    <form action="/list_note" method="post" autocomplete="false" class="float-right">
                        <button type="submit" class="astext mb-4 text-primary">
                            <span style="font-size:16.0pt" class="mt-2 mb-2 fs-5 d-none d-sm-inline">LetsNote Home</span>
                        </button>
                    </form>
                    <div class="input-group mb-2">
                        <form action="/add_new_note?Parent_tbl_id=none&Parent_note_id=none" method="post" autocomplete="false">
                            <div class="input-group-append text-info">
                                <span class="input-group-text bg-dark py-0">
                                    <button type="submit" class="btn btn-sm text-info">
                                        <i class="fa fa-plus-circle fa-lg"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        {{ range $note := .Note_list }}
                        <li class="nav-item">
                            <form action="/view_note?tbl_id={{$note.Parent_table_id}}_{{$note.Parent_note_id}}" method="post" class="d-inline">
                                <!-- {% csrf_token %} -->
                                <input type="hidden" name="note_id" value="{{$note.Id}}">
                                <nobr>
                                    {{ range $val := Iterate $note.Note_level }}
                                    <i>-</i>
                                    {{end}}
                                    <button type="submit" class="astext">
                                        <!-- <h5>{{$note.Title}}</h5> -->
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">{{$note.Title}}</span>
                                    </button>
                                </nobr>
                            </form>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                <div class="container">
                    <div class="row mt-1">
                        <div class="col-md-10 offset-md-1">
                            <div class="card">
                                <div class="card-header shadow-sm bg-white">
                                    <h1 class="display-5 text-info"><i class="fas fa-check-double"></i> LetsNote</h1>
                                    <!-- <h1 class="display-5 text-info"  style="color: #FFCC33 !important;"><i class="fas fa-check-double"></i> LetsNote</h1> -->
                                </div>
                                <div class="card-body">
                                    <form action="/insert_note_item_action?Parent_tbl_id={{$.Parent_tbl_id}}&Parent_note_id={{$.Parent_note_id}}" method="post" autocomplete="false">
                                        <!-- {% csrf_token %} -->
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="title" placeholder="Title">
                                            <div class="input-group-append text-info">
                                                <span class="input-group-text bg-white py-0">
                                                    <button type="submit" class="btn btn-sm text-info" name="action" value="Insert">
                                                        <i class="fa fa-plus-circle fa-lg"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="input-group-append text-info">
                                                <span class="input-group-text bg-white py-0">
                                                    <button type="submit" class="btn btn-sm text-info"  name="action" value="Cancel">
                                                        <h6 style="color:rgb(197, 5, 5) !important;"><b>X</b></h6>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <textarea class="form-control" name="content" placeholder="Content" rows="14"></textarea>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    </body>
</html>